:root {
  --burgundy-light: #800020;
  --burgundy-dark: #4a001f;
  --text-color: aliceblue;
  --body-background: rgb(78, 39, 45);

  --button-background: aliceblue;
  --button-text: #4a001f;

  --menu-background: aliceblue;
  --menu-text: #4a001f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace, sans-serif;
  background-color: var(--body-background);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

/*button {
  background-color: var(--button-background);
  border: 1px solid var(--burgundy-light);
  color: var(--button-text);
}*/

.wrapper {
  display: grid;
  grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
  grid-template-columns: 1fr;
}

header {
  grid-area: header;
  background-color: var(--menu-background);
  color: var(--menu-text);
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 50px;
  justify-content: space-between;
}

header .title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

header .logo {
  height: 40px;
  width: auto;
  padding-left: 5px;
}

nav {
  grid-area: nav;
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 1px 20px;
}

main {
  grid-area: main;
  padding: 20px;
}

footer {
  grid-area: footer;
  padding: 1px 20px;
  font-size: 14px;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  transition: background-color 0.2s, transform 0.1s;
  background: #eca2a2;
  border: solid 1px #eca2a2;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  border-radius: 8px;
  color: var(--button-text);
  padding: 6px;
  margin: 3px;
}

/* === Forms === */
input,
textarea,
select {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  font-size: 0.95rem;
}

label {
  display: block;
  margin-bottom: 0.25rem;
  font-weight: 500;
  color: #374151;
}

.top-row {
  display: block;
  justify-items: center;
}
